[Desktop Entry]
Type=Application
Name=Avocent KVM Console viewer
Icon=avctviewer
Exec=avctviewer %u
Categories=Network;RemoteAccess;Java
StartupNotify=rue
